<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="libs/vue.js"></script>
    <script src="sdd-load.js"></script>
    <script src="sdd-save.js"></script>
    <script src="tree-menu.js"></script>
    <script src="index.js"></script>
    <div id="app" class="vertical-flexbox lightgrey-background">
        <nav class="topbar centered medium-margin-vertical">
            <div class="selector" v-for="tab, index in tabs">
                <input v-model="selectedTab" :id="'tab-radio-' + index" class="selector-radio" name="tab-radio" :value="index" type="radio" />
                <label class="selector-label" :for="'tab-radio-' + index">
                    {{ tab }}
                </label>
            </div>
        </nav>
        <div class="horizontal-flexbox flex-grow-1 scroll">
            <nav v-if="showLeftMenu" class="sidebar scroll medium-margin thin-border white-background">
                <tree-menu v-if="selectedTab == 0" :items="itemsHierarchy" name="item" v-model="selectedItem"
                    v-on:add-item="addItem"
                    v-on:delete-item="deleteItem">
                </tree-menu>
                <tree-menu v-if="selectedTab == 1" v-model="selectedDescription" :items="descriptorsDependencyTree" name="description" 
                    v-on:add-item="addDescription"
                    v-on:delete-item="deleteDescription">
                </tree-menu>
            </nav>
            <section class="content flex-grow-1 medium-margin thin-border white-background scroll">
                <div v-if="selectedTab == 0 && items[selectedItem] !== undefined" class="horizontal-flexbox start-aligned relative">
                    <div>
                        <img class="medium-max-width" :src="items[selectedItem].photo"><br/>
                        <label class="item-property">Name</label>
                        <input type="text" v-model="items[selectedItem].name" /><br/>

                        <label class="item-property">Vernacular Name</label>
                        <input type="text" v-model="items[selectedItem].vernacularName" /><br/>

                        <label class="item-property">Meaning</label>
                        <textarea v-model="items[selectedItem].meaning" /></textarea><br/>

                        <label class="item-property">N° Herbier</label>
                        <input type="text" v-model="items[selectedItem].noHerbier" /><br/>

                        <label class="item-property">Herbarium Picture</label>
                        <input type="text" v-model="items[selectedItem].herbariumPicture" /><br/>

                        <fieldset>
                            <legend>Flore de Madagascar et Comores</legend>
                            <label class="item-property">Fasc</label>
                            <input type="text" v-model="items[selectedItem].fasc" /><br/>
    
                            <label class="item-property">Page</label>
                            <input type="text" v-model="items[selectedItem].page" /><br/>
                        </fieldset>
        
                        <label class="item-property">Detail</label>
                        <textarea v-model="items[selectedItem].detail"></textarea><br/>
                        
                        <label class="item-property">Photo</label>
                        <input type="text" v-model="items[selectedItem].photo" /><br/>
        
                        <label class="item-property">Description</label>
                        <ul class="indented">
                            <li v-for="description, index in items[selectedItem].descriptions">
                                <label>{{ description.descriptor.name }}</label>
                                <ul class="indented">
                                    <li v-for="state, stateIndex in description.states">
                                        {{ state.name }}
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                        <tree-menu v-model="selectedItemDescriptor" :items="descriptorsDependencyTree" name="description"
                            v-on:add-item="addDescription"
                            v-on:delete-item="deleteDescription">
                        </tree-menu>
                    <div>
                        <ul class="indented" v-if="selectedItemDescriptor !== 0">
                            <li v-for="state, stateIndex in descriptions[selectedItemDescriptor].states">
                                <input v-on:change="addItemState($event, state)" type="checkbox" :name="'state-' + stateIndex" id="'state-' + stateIndex"
                                    :checked="items[selectedItem]?.descriptions?.find(d => d.descriptor.id === selectedItemDescriptor)?.states?.map(s => s.id)?.includes(state.id)">
                                {{ state.name }}
                            </li>
                        </ul>
                    </div>
                </div>
                <ul v-if="selectedTab == 1 && descriptions[selectedDescription] !== undefined">
                    <img style="flex:1;overflow:hidden;object-fit:contain;" :src="descriptions[selectedDescription].photo">
                    <label class="description-name">Name</label>
                    <input type="text" v-model="descriptions[selectedDescription].name" /><br/>
                    <div v-if="descriptions[selectedDescription].inapplicableStates.length > 0">
                        <label>Inapplicable If</label>
                        <ul class="indented">
                            <li class="medium-padding" v-for="state in descriptions[selectedDescription].inapplicableStates">
                                {{ descriptions[state.descriptorId].name }} IS {{ state.name }}
                            </li>
                        </ul>
                    </div>
                    <label>States</label>
                    <ul class="indented">
                        <li class="medium-padding" v-for="state in descriptions[selectedDescription].states">
                            {{ state.name }}
                        </li>
                        <li>
                            <input type="text" />
                            <button class="background-color-1" v-on:click="addState(descriptions[selectedDescription], $event)">Add</button>
                        </li>
                    </ul>
                </ul>
            </section>
        </div>
        <section class="medium-margin">
            <button type="button" v-on:click="toggleLeftMenu">Left Menu</button>
            <button type="button" v-on:click="openAll">Open All</button>
            <button type="button" v-on:click="closeAll">Close All</button>
            <button type="button" v-on:click="saveData">Save</button>
            <button type="button" v-on:click="resetData">Reset</button>
            <button type="button" v-on:click="importData">Import</button>
            <input class="invisible" v-on:change="fileUpload" type="file" accept="application/xml" name="import-data" id="import-data">
            <button type="button" v-on:click="exportData">Export</button>
            <a href="./merger.html">Merger</a>
        </section>
    </div>
</body>
</html>