<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="libs/vue.js"></script>
    <script src="sdd-load.js"></script>
    <script src="sdd-save.js"></script>
    <script src="add-item.js"></script>
    <script src="image-box.js"></script>
    <script src="tree-menu.js"></script>
    <script src="db-storage.js"></script>
    <script src="index.js"></script>
    <div id="app" class="vertical-flexbox lightgrey-background">
        <nav class="horizontal-flexbox space-between">
            <div class="medium-margin">
                <button type="button" v-on:click="toggleLeftMenu">Left Menu</button>
                <button type="button" v-on:click="openAll">Open All</button>
                <button type="button" v-on:click="closeAll">Close All</button>
            </div>
            <div class="medium-margin">
                <div class="selector" v-for="tab, index in tabs">
                    <input v-model="selectedTab" :id="'tab-radio-' + index" class="selector-radio" name="tab-radio" :value="index" type="radio" />
                    <label class="selector-label" :for="'tab-radio-' + index">
                        {{ tab }}
                    </label>
                </div>
            </div>
            <div class="medium-margin">
                <button type="button" v-on:click="toggleImageBox">Image Box</button>
                <div class="selector" v-for="lang, index in langs">
                    <input v-model="selectedLang" :id="'lang-radio-' + index" class="selector-radio" name="lang-radio" :value="index" type="radio" />
                    <label class="selector-label" :for="'lang-radio-' + index">
                        {{ lang }}
                    </label>
                </div>
            </div>
        </nav>
        <div v-if="showBigImage" class="medium-margin thin-border white-background flex-grow-1 centered-text max-width-screen">
            <img class="max-width-screen max-height-screen" :src="bigImage"><br>
            <button class="background-color-1" v-on:click="minimizeImage">Minimize</button>
        </div>
        <div v-if="!showBigImage" class="horizontal-flexbox start-align flex-grow-1 scroll">
            <nav v-if="showLeftMenu" class="scroll medium-margin thin-border white-background">
                <tree-menu editable="true" v-if="showItems" :items="items" name="item" v-model="selectedItem"
                    v-on:add-item="addItem"
                    v-on:delete-item="deleteItem">
                </tree-menu>
                <tree-menu v-if="showItemDescriptors" :items="items" name="item" v-model="selectedItem">
                </tree-menu>
                <tree-menu editable="true" v-if="showDescriptors" v-model="selectedDescription" :items="descriptorsDependencyTree" name="description" 
                    :name-field="nameField"
                    v-on:add-item="addDescription"
                    v-on:delete-item="deleteDescription">
                </tree-menu>
            </nav>
            <section v-if="showItems && typeof items[selectedItem] !== 'undefined'" class="vertical-flexbox flex-grow-1">
                <image-box v-if="showImageBox"
                    class="scroll min-height-300"
                    :photos="items[selectedItem].photos"
                    editable="true"
                    v-on:add-photo="addItemPhoto"
                    v-on:set-photo="setItemPhoto"
                    v-on:delete-photo="deleteItemPhoto"
                    v-on:open-photo="maximizeImage">
                </image-box>
                <div class="horizontal-flexbox start-align flex-grow-1 scroll">
                    <div class="thin-border medium-margin white-background scroll flex-grow-1">
                        <label class="item-property">Name</label>
                        <input type="text" v-model="items[selectedItem].name" /><br/>

                        <label class="item-property">Vernacular Name</label>
                        <input type="text" v-model="items[selectedItem].vernacularName" /><br/>
        
                        <label class="item-property">Meaning</label>
                        <textarea v-model="items[selectedItem].meaning" /></textarea><br/>
        
                        <label class="item-property">N° Herbier</label>
                        <input type="text" v-model="items[selectedItem].noHerbier" /><br/>
        
                        <label class="item-property">Herbarium Picture</label>
                        <input type="text" v-model="items[selectedItem].herbariumPicture" /><br/>
        
                        <fieldset>
                            <legend>Flore de Madagascar et Comores</legend>
                            <label class="item-property">Fasc</label>
                            <input type="text" v-model="items[selectedItem].fasc" /><br/>
        
                            <label class="item-property">Page</label>
                            <input type="text" v-model="items[selectedItem].page" /><br/>
                        </fieldset>
        
                        <label class="item-property">Detail</label>
                        <textarea id="item-detail " v-model="items[selectedItem].detail"></textarea><br/>
        
                        <label class="item-property">Description</label>
                        <tree-menu :items="selectedItemDescriptorTree"
                            :buttons="[{ id: 'pushToChildren', for: 'state', label: 'Push' }]"
                            v-on:button-click="itemDescriptorsButtonClicked">
                        </tree-menu>
                    </div>
                </div>
            </section>
            <section v-if="showItemDescriptors && typeof items[selectedItem] !== 'undefined'" class="vertical-flexbox flex-grow-1">
                <div class="horizontal-flexbox flex-grow-1 scroll">
                    <section class="vertical-flexbox flex-grow-1">
                        <div class="horizontal-flexbox scroll">
                            <div class="relative scroll vertical-flexbox stretch-items">
                                <image-box class="scroll min-height-200" v-if="showImageBox"
                                    v-on:open-photo="maximizeImage"
                                    :photos="items[selectedItem]?.photos"></image-box>
                                <div class="vertical-flexbox flex-grow-1 thin-border medium-margin medium-padding white-background ">
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">Name:</label>
                                        <div>{{ items[selectedItem]?.name }}</div>
                                    </div>
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">Vernacular Name:</label>
                                        <div>{{ items[selectedItem]?.vernacularName }}</div>
                                    </div>
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">Meaning:</label>
                                        <div>{{ items[selectedItem]?.meaning }}</div>
                                    </div>
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">N° Herbier:</label>
                                        <div>{{ items[selectedItem]?.noHerbier }}</div>
                                    </div>
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">Herbarium Picture:</label>
                                        <div>{{ items[selectedItem]?.herbariumPicture }}</div>
                                    </div>
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">Fasc:</label>
                                        <div>{{ items[selectedItem]?.fasc }}</div>
                                    </div>
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">Page:</label>
                                        <div>{{ items[selectedItem]?.page }}</div>
                                    </div>
                                    <div class="horizontal-flexbox">
                                        <label class="min-width-s">Detail:</label>
                                        <div class="limited-width">{{ items[selectedItem]?.detail }}</div>
                                    </div>
                                </div>
                                <tree-menu class="thin-border medium-margin medium-padding white-background scroll" :items="selectedItemDescriptorTree"
                                    :buttons="[{ id: 'pushToChildren', for: 'state', label: 'Push' }]"
                                    v-on:button-click="itemDescriptorsButtonClicked">
                                </tree-menu>
                            </div>
                            <div class="vertical-flexbox">
                                <image-box class="scroll min-height-200" v-if="showImageBox"
                                    v-on:open-photo="maximizeImage"
                                    :photos="descriptions[selectedItemDescriptor]?.photos"></image-box>
                                <tree-menu class="thin-border medium-margin white-background scroll" editable="true" v-model="selectedItemDescriptor" :items="descriptorsDependencyTree" name="description"
                                    v-on:add-item="addDescription"
                                    v-on:delete-item="deleteDescription">
                                </tree-menu>
                            </div>
                        </div>
                    </section>
                    <section class="vertical-flexbox flex-grow-1">
                        <div class="thin-border medium-margin medium-padding white-background scroll">
                            <div class="horizontal-flexbox space-between" v-if="selectedItemDescriptor !== 0">
                                <button class="background-color-ok" v-on:click="addAllItemStates">Check All</button>
                                <button class="background-color-ko" v-on:click="removeAllItemStates"> Uncheck All</button>
                            </div>
                            <label class="horizontal-flexbox" v-if="selectedItemDescriptor !== 0"><div>&nbsp;</div>
                                <input class="flex-grow-1" placeholder="Filter" type="search" v-model="itemDescriptorSearch" name="search-item-descriptor" id="search-item-descriptor">
                            </label>
                            <ul class="no-list-style" v-if="selectedItemDescriptor !== 0">
                                <li class="horizontal-flexbox" v-for="state, stateIndex in descriptions[selectedItemDescriptor].states" v-if="state.name.startsWith(itemDescriptorSearch)">
                                    <input v-on:change="addItemState($event, state)" type="checkbox" :name="'state-' + stateIndex" :id="'state-' + stateIndex"
                                        :checked="items[selectedItem]?.descriptions?.find(d => d.descriptor.id === selectedItemDescriptor)?.states?.map(s => s?.id)?.includes(state.id)">
                                    <input class="flex-grow-1" type="text" v-model="state.name" />
                                </li>
                                <li class="">
                                    <add-item v-on:add-item="addState(descriptions[selectedItemDescriptor], $event)"></add-item>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </section>
            <section v-if="showDescriptors && typeof descriptions[selectedDescription] !== 'undefined'" class="vertical-flexbox flex-grow-1">
                <image-box v-if="showImageBox"
                    :photos="descriptions[selectedDescription].photos"
                    editable="true"
                    v-on:add-photo="addDescriptionPhoto"
                    v-on:set-photo="setDescriptionPhoto"
                    v-on:delete-photo="deleteDescriptionPhoto"
                    v-on:open-photo="maximizeImage">
                </image-box>
                <ul v-if="showDescriptors" class="thin-border medium-margin medium-padding white-background flex-grow-1 scroll">
                    <label>Name</label>
                    <table style="width: 100%;">
                        <tr><th>FR</th><th>EN</th><th>CN</th></tr>
                        <tr>
                            <td><input type="text" v-model="descriptions[selectedDescription].name" /></td>
                            <td><input type="text" v-model="descriptions[selectedDescription].nameEN" /></td>
                            <td><input type="text" v-model="descriptions[selectedDescription].nameCN" /></td>
                        </tr>
                    </table>
    
                    <label class="item-property">Detail</label>
                    <textarea v-model="descriptions[selectedDescription].detail"></textarea><br/>
    
                    <div v-if="descriptions[selectedDescription].inapplicableStates.length > 0">
                        <label>Inapplicable If</label>
                        <ul class="indented">
                            <li class="medium-padding" v-for="state in descriptions[selectedDescription].inapplicableStates">
                                {{ descriptions[state.descriptorId].name }} IS {{ state.name }}
                            </li>
                        </ul>
                    </div>
                    <label>States</label>
                    <ul class="indented">
                        <li class="medium-padding" v-for="state in descriptions[selectedDescription].states">
                            <input type="text" v-model="state.name" />
                        </li>
                        <li>
                            <add-item v-on:add-item="addState(descriptions[selectedDescription], $event)"></add-item>
                        </li>
                    </ul>
                </ul>
            </section>
        </div>
        <section class="medium-margin horizontal-flexbox space-between">
            <div>
                <button type="button" v-on:click="importData">Import</button>
                <input class="invisible" v-on:change="fileUpload" type="file" accept="application/xml" name="import-data" id="import-data">
                <button type="button" v-on:click="exportData">Export</button>
            </div>
            <div>
                <button type="button" class="background-color-ok" v-on:click="saveData">Save</button>
                <button type="button" class="background-color-ko" v-on:click="resetData">Reset</button>
            </div>
            <a href="./merger.html">Merger</a>
        </section>
    </div>
</body>
</html>