html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}  

body {
	padding: 0  ;
	margin: 0;
}

button {
	min-height: 28px;
	padding: 8px;
	border: none;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:active {
	background-color: #bbb;
}

ul {
    padding: 0;
    margin: 0;
}

#app {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.background-color-1 {
    background-color: rgb(37, 113, 212);
    color: white;
}

.invisible {
    display: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.medium-padding {
    padding: 4px;
}

.medium-margin {
    margin: 8px;
}

.thin-margin {
    margin: 4px;
}

.left-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: none;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(135deg);
}

.bottom-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: none;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(-135deg);
}

.medium-margin-vertical {
    margin-top: 8px;
    margin-bottom: 8px;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.thin-border {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-2 {
    flex-grow: 3;
}

.hide-next-unchecked + ul {
    display: none;
}

.small-square {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.centered-text {
    text-align: center;
}

.hide-next-unchecked:checked + ul {
    display: initial;
}

.lightgrey-background {
    background-color: #eee;
}

.white-background {
    background-color: #ffffff;
}

.vertical-flexbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.horizontal-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.horizontal-flexbox.start-aligned {
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar > ul {
    padding: 4px;
}

.relative {
    position: relative;
}

.sidebar li {
    list-style: none;
    position: relative;
}

.sidebar li > div {
    position: relative;
    width: 100%;
}

.blue-hover:hover,
.sidebar li > div > input:checked + label {
    background-color: rgb(37, 113, 212);
    color: white;
}

.blue-circle-hover:hover {
    border: 1px solid rgb(37, 113, 212);;
    border-radius: 100%;
}

.content {
    padding: 8px;
}

.width-1-3 {
    width: 33%;
}

.item-property {
    display: inline-block;
    padding: 8px;
    width: 100px;
    vertical-align: top;
}

.selector {
    display: inline-block;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.indented {
    margin-left: 42px;
}

.selector-label {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: white;
    border-left-width: 0;
}

.selector:first-of-type .selector-label {
    border-left-width: 1px;
    border-radius: 5px 0 0 5px;
}

.selector:last-of-type .selector-label {
    border-radius: 0 5px 5px 0;
}

.selector-radio:checked + .selector-label {
	background-color: #777;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	color: white;
}

.selector-radio {
    display: none;
}