html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
	padding: 0  ;
	margin: 0;
}

th {
    text-align: left;
}

button,
select,
.button {
	display: inline-block;
	min-height: 28px;
	padding: 4px 8px;
	margin: 2px;
	border: none;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	font-size: 0.8em;
	color: black;
}

button:hover,
select:hover,
.button:hover {
    cursor: pointer;
}

button:active,
select:active,
.button:active {
	background-color: #bbb;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

*[dir="rtl"] select, :root:lang(ar) select :root:lang(iw) select {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

ul {
    padding: 0;
    margin: 0;
}

#app {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.ck.ck-editor {
    max-width: 800px;
}

.max-width-screen {
    max-width: 90vw;
}

.stick-to-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.min-width-s {
    min-width: 200px;
}

.background-color-1 {
    background-color: rgb(37, 113, 212);
    color: white;
}

.background-color-ok {
    background-color: rgb(47, 122, 44);
    color: white;
}

.background-color-ko {
    background-color: rgb(189, 34, 55);
    color: white;   
}

.invisible {
    display: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.no-list-style {
    list-style: none;
}

.medium-padding {
    padding: 4px;
}

.small-margin {
    margin: 2px;
}

.medium-margin {
    margin: 4px;
}

.medium-margin-vertical {
    margin-top: 4px;
    margin-bottom: 4px;
}

.medium-margin-horizontal {
    margin-left: 4px;
    margin-right: 4px;
}

.thin-margin {
    margin: 4px;
}

.limited-width {
    max-width: 400px;
}

.left-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: none;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(135deg);
}

.bottom-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: none;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(-135deg);
}

.medium-max-width {
    max-width: 300px;
}

.medium-max-height {
    max-height: 200px;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.warning-color {
    color: #b13a00;
}

.thin-border {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.thin-border-right {
    border-right: 1px solid #ccc;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.hide-next-unchecked + * {
    display: none;
}

.hide-next-unchecked:checked + * {
    display: initial;
}

.small-square {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.close {
	position: relative;
	right: 0;
	top: 0px;
	width: 18px;
	height: 18px;
	opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.centered-text {
    text-align: center;
}

.absolute-top-right {
    position: absolute;
    top: 2px;
    right: 2px;
}

.lightgrey-background {
    background-color: #eee;
}

.white-background {
    background-color: #ffffff;
}

.vertical-flexbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.stretch-items {
    align-items: stretch;
}

.center-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.horizontal-flexbox {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.cented-aligned {
    justify-content: center;
    align-items: center;    
}

.start-aligned {
    justify-content: flex-start;
    align-items: flex-start;
}

.wrap-flexbox {
    flex-wrap: wrap;
}

.min-height-200 {
    min-height: 200px;
}

.min-height-300 {
    min-height: 300px;
}

.max-height-screen {
    max-height: 80vh;
}

.relative {
    position: relative;
}

.menu li {
    list-style: none;
}

.menu li > div {
    position: relative;
    width: 100%;
}

.blue-hover:hover,
.menu li > div > input:checked + label {
    background-color: rgb(37, 113, 212);
    color: white;
}

.blue-circle-hover:hover {
    border: 1px solid rgb(37, 113, 212);;
    border-radius: 100%;
}

.content {
    padding: 8px;
}

.width-1-3 {
    width: 33%;
}

.item-property {
    display: inline-block;
    padding: 8px;
    width: 100px;
    vertical-align: top;
}

.selector {
    display: inline-block;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.indentation-width {
    width: 42px;
}

.indented {
    margin-left: 42px;
}

.selector-label {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: white;
    border-left-width: 0;
}

.selector:first-of-type .selector-label {
    border-left-width: 1px;
    border-radius: 5px 0 0 5px;
}

.selector:last-of-type .selector-label {
    border-radius: 0 5px 5px 0;
}

.selector-radio:checked + .selector-label {
	background-color: #777;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	color: white;
}

.selector-radio {
    display: none;
}