<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Image Galery</title>
</head>
<body>
    <h1>Image gallery</h1>
    <section class="medium-padding">
        <div class="horizontal-flexbox flex-wrap relative small-gap">
            {% if base_path is defined %}
                <a class="small-width thin-border vertical-flexbox space-between" href="/pictures/{{ base_path }}/..">
                    <div class="folder-image"></div>
                    Back
                </a>
            {% endif %}
            {% for image in images %}
                {% if image.is_dir() %}
                    <a class="small-width thin-border vertical-flexbox space-between" href="/pictures/{{ image.path }}{{ image.name | urlencode }}">
                        <div class="folder-image"></div>
                        {{ image.name }}
                    </a>
                {% else %}
                    <a class="small-width thin-border vertical-flexbox space-between" href="/picture/{{ user.login | urlencode }}/{{ image.path }}{{ image.name | urlencode }}">
                        <img class="small-image" src="/picture/{{ user.login | urlencode }}/{% if base_path is defined %}{{ base_path }}/{% endif %}{{ image.path }}{{ image.name }}" alt="{{ image.name }}">
                        <legend>{{ image.name }}</legend>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</body>
</html>